<script>
	import '../app.css';
	import Navbar from '$components/Navbar.svelte';
	import Drawer from '$components/Drawer.svelte';
	import Sidebar from '$components/Sidebar.svelte';
	import Tabs from '$components/Tabs.svelte';
	import MessagePreview from '$components/MessagePreview.svelte';
	import { page } from '$app/stores';
	import Stat from '$components/Stat.svelte';
</script>

<div class="grid grid-cols-12">
	<div class="col-span-12 sticky top-0 z-50 order-first" id="header">
		<Navbar />
	</div>
	<div class="hidden md:block md:col-span-2" id="menu">
		<Drawer />
		<!-- <Tabs /> -->
	</div>
	<div class="col-span-12 md:col-span-8 bg-base-200" id="body">
		<slot />
		{#if $page.data.session}
			{#if $page.data.session.user?.image}
				<span style="background-image: url('{$page.data.session.user.image}')" class="avatar" />
			{/if}
			<span class="signedInText">
				<small>Signed in as</small><br />
				<strong>{$page.data.session.user?.email ?? $page.data.session.user?.name}</strong>
			</span>
			<a href="/auth/signout" class="button" data-sveltekit-preload-data="off">Sign out</a>
		{:else}
			<span class="notSignedInText">You are not signed in</span>
			<a href="/auth/signin" class="buttonPrimary" data-sveltekit-preload-data="off">Sign in</a>
		{/if}
	</div>
	<div class="col-span-12 md:col-span-2 order-first md:order-last" id="sidebar">
		<!-- <Sidebar /> -->
		<!-- <Stat /> -->
		<!-- <MessagePreview /> -->
	</div>
</div>
