<script>
	import Card from '$components/Card.svelte';
	import Hero from '$components/Hero.svelte';
	import Pagination from '$components/Pagination.svelte';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';

	import { marketplace } from './store';
	let currentPage = 1;
	let toggled = false;
	let pageData;
	let mounted = false;
	let seller;
	let category;

	onMount(async () => {
		currentPage = 1;
		async function getMarketplace() {
			try {
				seller = $page.url.searchParams.get('seller');
				category = $page.url.searchParams.get('category');
				console.log(seller);
				console.log(category);
				let response;
				if (seller != null) {
					console.log('1');
					response = await fetch('api/products/getMarketplace?seller=' + seller);
				} else if (category != null) {
					console.log('2');
					response = await fetch('api/products/getMarketplace?category=' + category);
				} else {
					console.log('3');
					response = await fetch('api/products/getMarketplace');
					console.log(response);
				}
				const data = await response.json();
				console.log(data);

				marketplace.set(data);
				console.log($marketplace);
			} catch (error) {
				console.log(error);
				return [];
			}
		}
		await getMarketplace();
		mounted = true;
	});
</script>

<Hero />
<Pagination bind:currentPage />
<!-- <button
	class="btn btn-xs"
	on:click={() => {
		console.log((page - 1) * 16);
		console.log($marketplace.products.slice(({ page } - 1) * 16, 16));
		$marketplace = $marketplace;
	}}>+page</button
> -->
<div class="grid grid-cols-12 bg-base-200">
	{#if mounted}
		{#each $marketplace.slice((currentPage - 1) * 16, currentPage * 16) as item, i}
			<div class="col-span-6 sm:col-span-4 lg:col-span-3 m-1">
				<Card {item} />
			</div>
		{/each}
	{/if}
</div>
