<script>
	import { marked } from 'marked';
	let markdown = `# This is a header
  
  This is a paragraph.
  
  - This is a list
  - With two items
    1. And a sublist
    2. That is ordered
      - With another
      - Sublist inside
  
  | And this is | A table |
  |-------------|---------|
  | With two    | columns |
  
  * what i learned / applied
    * git
    * websockets
    * web3.js
    * passport.js
    * tailwindcss / daisyUI
    * prisma
    * sveltekit
    * react/express/mongoose
    * bootstrap
    * railway / vercel / render

  * where to go from here
    * learn solidity for smart contracts -> web3 path
  * learn typescript
  * PWA - progressive web apps -> mobile apps

  
  `;
</script>

<article class="prose-lg prose-slate">
	{@html marked.parse(markdown)}
</article>
