<script>
	import Order from '$components/Order.svelte';
	let mounted = false;
	import { carts } from './store';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';

	onMount(async () => {
		async function getCarts() {
			try {
				const response = await fetch('api/carts/getCarts');
				const data = await response.json();
				console.log(data);
				carts.set(data);
			} catch (error) {
				console.log(error);
				return [];
			}
		}
		await getCarts();
		mounted = true;
	});
</script>

{#if mounted}
	{#each $carts.filter((cart) => {
		return cart.buyer == $page.data.session.user.username && cart.isPaid == true;
	}) as cart}
		<Order {cart} />
	{/each}
{/if}
