<script>
	export let img;
	export let title;
	export let subtitle;
</script>

<div class="flex items-center space-x-3 mb-4 p-4 bg-white drop-shadow-xl">
	<div class="avatar indicator">
		<span class="indicator-item badge badge-warning rounded-full" />
		<div class="mask mask-squircle w-12 h-12">
			<img src={img} alt="Avatar Tailwind CSS Component" />
		</div>
	</div>
	<div>
		<div class="font-bold">{title}</div>
		<div class="text-sm opacity-50">{subtitle}</div>
	</div>
</div>
