<script>
	export let item;
	import { NumberInput } from '@svelteuidev/core';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { notifications } from '$lib/notifications.js';
	import Toast from '$components/Toast.svelte';

	let quantity = 1;
	async function addToCart(buyer, item, quantity) {
		let body = JSON.stringify({
			buyer: buyer,
			seller: item.seller,
			products: [
				{
					id: item.id,
					title: item.title,
					description: item.description,
					image: item.thumbnail,
					price: item.price,
					quantity: quantity
				}
			]
		});
		try {
			const response = await fetch('api/products/addToCart', {
				method: 'POST',
				body: body
			});
			const data = await response.json();
			notifications.info(data.message, 3000);
		} catch (error) {
			console.log(error);
			return [];
		}
	}
</script>

<div class="card card-compact bg-base-100 shadow-xl">
	<figure>
		<img class="object-cover aspect-[16/9]" src={item.thumbnail} alt={item.title} />
	</figure>
	<div class="card-body">
		<p>{item.title} <label for={'modalItem' + item.id} class="btn btn-xs">Buy Now</label></p>
		<h2 class="card-title">PHP {item.price}</h2>
	</div>
</div>

<!-- Put this part before </body> tag -->
<input type="checkbox" id={'modalItem' + item.id} class="modal-toggle" />
<!-- <label for={'modalItem' + item.id} class="modal lg:modal-middle modal-bottom "> -->
<label for={'modalItem' + item.id} class="modal">
	<label class="modal-box w-11/12 max-w-5xl" for="">
		<div class="grid grid-cols-12 w-full">
			<div class="carousel w-full col-span-5">
				{#each item.images as image, index}
					<div id={'slide_' + item.id + '_' + Number(index)} class="carousel-item relative w-full">
						<img src={image} class="w-full" alt="..." />
						<div
							class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
						>
							<a href={'#slide_' + item.id + '_' + (Number(index) - 1)} class="btn btn-circle">❮</a>
							<a href={'#slide_' + item.id + '_' + (Number(index) + 1)} class="btn btn-circle">❯</a>
						</div>
					</div>
				{/each}
			</div>
			<div class="col-span-7 p-3">
				<article class="prose-lg prose-slate">
					<h3>{item.title}</h3>
					<p>
						{item.description}
					</p>
					<p><strong>PHP {Number(item.price).toLocaleString()}</strong></p>
				</article>
				Seller:<span class="badge">
					<div class="dropdown dropdown-hover">
						{item.seller}
						<ul
							tabindex="-1"
							class="dropdown-content menu p-2 shadow bg-base-100 text-black rounded-box w-52"
						>
							<li><a href={'/messages?chatwith=' + item.seller}>Chat Seller</a></li>
							<li><a href={'/?seller=' + item.seller} target="_self">View Seller Shop</a></li>
						</ul>
					</div>
				</span>
				Category:
				<span class="badge"
					><a href={'/?category=' + item.category} target="_self">{item.category}</a></span
				>
				Stock:
				<span class="badge">{item.stock} items left</span>
				<br />
				<div class="btn-group my-3">
					<button class="btn btn-sm">Edit</button>
					<button class="btn btn-sm">Delete</button>
				</div>
				<br />
				<div class="btn-group my-3">
					<NumberInput class="max-w-[20%]" min={1} max={item.stock} bind:value={quantity} />
					<button
						class="btn btn-md btn-active ml-3"
						on:click={() => addToCart($page.data.session.user.username, item, quantity)}
						>Add to Cart</button
					>
				</div>
			</div>
		</div>
	</label>
</label>
<Toast />
