<!-- <div class="hero min-h-screen"> -->
<div class="hero aspect-[5/1] ">
	<div class="hero-overlay bg-black bg-opacity-50" />
	<div class="hero-content text-center text-neutral-content ">
		<div class="max-w-xl">
			<h1 class="mb-5 text-6xl font-bold">
				UNBEATABLE <span class="text-yellow-500">PEER TO PEER</span> DEALS
			</h1>

			<button class="btn btn-success"><strong>Shop Now!</strong></button>
		</div>
	</div>
</div>

<style>
	.hero {
		background-image: url($assets/clark-street-unsplash.jpg);
	}
</style>
