<div>
	<h1 class="text-2xl">Chat</h1>

	<div class="grid grid-cols-12">
		<div class="avatar col-span-3">
			<div class="w-12 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
				<img
					src="https://www.commonsensemedia.org/sites/default/files/styles/ratio_16_9_small/public/screenshots/csm-movie/bruce-almighty-ss3.jpg"
				/>
			</div>
		</div>
		<div class="avatar-label col-span-9">
			<p class="text-md">Rafael Norman Morales</p>
			<p class="text-sm">Last message...</p>
		</div>
	</div>

	<div class="grid grid-cols-12">
		<div class="avatar col-span-3">
			<div class="w-12 rounded-full ring ring-base-300 ring-offset-base-100 ring-offset-2">
				<img src="https://variety.com/wp-content/uploads/2022/05/TOP-GUN_PA005.jpg" />
			</div>
		</div>
		<div class="avatar-label col-span-9">
			<p class="text-md">Marc Ritz Aguspina</p>
			<p class="text-sm">Tara valo...</p>
		</div>
	</div>
</div>
