<script>
	import { page } from '$app/stores';
	import { signIn, signOut } from '@auth/sveltekit/client';
	// ok so signout is easy... how to use sign in?
</script>

<div class="navbar bg-base-100 drop-shadow-xl" data-theme="lemonade">
	<div class="flex-none">
		<label for="my-drawer" class="btn btn-ghost drawer-button">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block w-5 h-5 stroke-current"
				><path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M4 6h16M4 12h16M4 18h16"
				/></svg
			>
		</label>
	</div>
	<div class="flex-1">
		<a class="btn btn-ghost normal-case text-xl">🔥 tindero</a>
	</div>
	<div class="flex-none gap-2">
		<div class="form-control">
			<input type="text" placeholder="Search" class="input input-bordered" />
		</div>
		<div class="dropdown dropdown-end">
			<label tabindex="0" class="btn btn-ghost btn-circle avatar">
				<div class="w-10 rounded-full">
					<img
						src="https://www.looper.com/img/gallery/the-untold-truth-of-v-for-vendetta/l-intro-1645537694.jpg"
					/>
				</div>
			</label>
			<ul
				tabindex="0"
				class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
			>
				<li>
					<a class="justify-between">
						Profile
						<span class="badge">New</span>
					</a>
				</li>
				<li><a>Settings</a></li>
				{#if $page.data.session}
					<li><a on:click={signOut}>Logout</a></li>
				{:else}
					<li><button on:click={() => signIn('github')}>Sign In with GitHub</button></li>
				{/if}
			</ul>
		</div>
	</div>
</div>
