<script>
	import AvatarCard from '$components/AvatarCard.svelte';
	export let cart;

	import { NumberInput } from '@svelteuidev/core';
</script>

<div class="overflow-x-auto w-full p-5">
	<article class="prose">
		<h2>
			Order from {cart.seller} Shop <br />Purchased on: {cart.updatedAt}<br /><small
				>(#{cart.id})</small
			>
		</h2>
	</article>
	<table class="table w-full">
		<!-- head -->
		<thead>
			<tr>
				<th style="width:55%">Product</th>
				<th style="width:15%">Price/Unit</th>
				<th style="width:15%">Quantity</th>
				<th style="width:15%">Price</th>
			</tr>
		</thead>
		<tbody>
			<!-- row 1 -->
			{#each cart.products as product}
				<tr>
					<td>
						<div class="flex items-center space-x-3">
							<div class="avatar">
								<div class="mask mask-squircle w-12 h-12">
									<img src={product.image} alt="Avatar Tailwind CSS Component" />
								</div>
							</div>
							<div>
								{product.title}
								<br />
								<span class="badge badge-ghost badge-sm">Play Games on this console</span>
							</div>
						</div>
					</td>
					<td>{Number(product.price).toLocaleString()}</td>
					<td>{Number(product.quantity)}</td>
					<td>{(Number(product.price) * Number(product.quantity)).toLocaleString()}</td>
				</tr>
			{/each}
			<tr class="bg-primary font-bold">
				<td>Total </td>
				<td>{cart.totalProducts} Products</td>
				<td>{cart.totalQuantity} Items</td>
				<td>{Number(cart.total).toLocaleString()}</td>
			</tr>
		</tbody>
	</table>
</div>
