<ul class="steps steps-vertical lg:steps-horizontal">
	<li class="step step-primary">Login Details</li>
	<li class="step step-primary">Contact Details</li>
	<li class="step">Profile Picture</li>
	<li class="step">Complete Registration</li>
</ul>
