<script>
	import { Button } from '@svelteuidev/core';
</script>

<Button variant="filled">filled</Button>
<Button variant="light">light</Button>
<Button variant="outline">outline</Button>
<Button variant="default">default</Button>
<Button variant="subtle">subtle</Button>
