<div class="hero min-h-screen bg-base-200">
	<div class="hero-content flex-col lg:flex-row-reverse">
		<div class="text-center lg:text-left">
			<h1 class="text-5xl font-bold">Login now! implement magic links</h1>
			<p class="py-6">
				Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
				quasi. In deleniti eaque aut repudiandae et a id nisi.
			</p>
		</div>
		<div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
			<div class="card-body">
				<form class="content text-center" method="POST">
					<div class="form-control m-2">
						<button class="btn btn-primary">Login with Facebook</button>
					</div>
					<div class="form-control m-2">
						<button class="btn btn-primary">Login with Google</button>
					</div>
					<div class="form-control m-2">
						<button class="btn btn-primary">Login with Apple</button>
					</div>
					<div class="form-control m-2">
						<button class="btn btn-primary">Login with Github</button>
					</div>
					<div class="form-control m-2">
						<button class="btn btn-primary">Login with Email</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
